body{
    background-color: #B3AAA3;
    color: #B3AAA3;
}
h1{
    color: #36505D
}
div{
    background-color: #0B1E25;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 27px;
}
img{
    margin-left: 30%;
}